<p><strong>Notification templates:</strong>
    <a class="filter-btn {% if not tpl %}filter-active{% endif %}" href="?tpl=">None</a>
    {% for template in templateCollection %}
        <a class="filter-btn {% if tpl == template %}filter-active{% endif %}" href="?tpl={{ template }}">
            {{ template }}
        </a>
    {% endfor %}
</p>

<p><strong>Status:</strong>
    <a class="filter-btn {% if status==null or status==undefined %}filter-active{% endif %}" href="?tpl={{ tpl }}">None</a>
    <a class="filter-btn {% if status==0 %}filter-active{% endif %}" href="?status=0&tpl={{ tpl }}">Not sent</a>
    <a class="filter-btn {% if status==1 %}filter-active{% endif %}" href="?status=1&tpl={{ tpl }}">Success</a>
    <a class="filter-btn {% if status==2 %}filter-active{% endif %}" href="?status=2&tpl={{ tpl }}">Error</a>
</p>