{%  extends "layout.twig" %}

{% block title %}notified-viewer{% endblock %}

{% block body %}

    <div class="page-header">
        <h1>notified viewer</h1>
    </div>

    <div class="logout-form text-right">
        <a href="logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    {% include "templates.twig" %}

    <div class="text-center">
        <strong>Notification count: </strong>{{ count }}
    </div>

    {% include "paginator.twig" %}
    {% for notification in notifications %}
        <div class="panel panel-primary">
            <div class="panel-body">
                <p><strong>Template:</strong> {{ notification.template }}</p>
                <p><strong>Created:</strong> {{ notification.dateCreated }}</p>
                <p><strong>Sent:</strong> {{ notification.dateSent }}</p>
                <p><strong>Status:</strong> {{ notification.status }}</p>
                <p><strong>Body:</strong> {{ notification.body }}</p>
            </div>
        </div>
    {% endfor %}
    {% include "paginator.twig" %}


{% endblock %}